---
layout: page
title: "About"
description: "「INDEX ANIMI SERMO」"
header-img: "img/DEATH_NOTE_ONE_SHOT-1.png"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<!-- indonesia Version -->
<div class="id post-container">
    {% capture about_id %}{% include about/zh.md %}{% endcapture %}
    {{ about_id | markdownify }}
</div>
